<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Audrey Wong, a web developer apprentice with interesting life lessons to share. This is her first app and she hopes it will be the first of many that will help make the world a little bit better.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'audrey4.png', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Audrey Wong</h2>
		<br />
		<p class="audrey">
			Audrey is a web developer apprentice with <a target="_blank" href="http://http://www.thefirehoseproject.com/">theFirehoseProject</a> based in NYC. She's worked in advertising tech companies as a support engineer and project manager. She loves technology and she loves to create and design. Becoming a web developer is her awesome next challenge.
		</p>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />